@media screen and (min-width: 1000px) {
.container{
	width: 80%;
	max-width: 80%
	margin: 0 auto;
	align-content: center;
}
.body{
	font-family:'Roboto',sant-serif;
	font-size: 20px;
}
.text{
	margin-top: 50px;
	display: flex;
}
.imgj{
	margin-right: 20px;
}
}	